<form method="post" action="{{ path('app_event_delete', {'id': event.id}) }}" onsubmit="return confirm('Voulez-vous supprimer cet évènement? ');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ event.id) }}">
    <button class="btn button dark my-3">Supprimer</button>
</form>
