{% extends 'base.html.twig' %}

{% block body %}
    <h1>Modifier Evenement</h1>

    {{ include('event/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('app_event_index') }}">Retour</a>

    {{ include('event/_delete_form.html.twig') }}
{% endblock %}
