{% extends 'base.html.twig' %}

{% block title %}New Event{% endblock %}

{% block body %}
    <h1 class = "d-flex justify-content-center neon2">Nouvel Evenement</h1>

<div class = "container d-flex flex-row justify-content-center neon2">
    {{ include('event/_form.html.twig') }}
</div>

    <a class= "btn button my-2" href="{{ path('app_event_index') }}">Retour</a>
{% endblock %}
