</div>

<footer class="neon">
    <hr>
    <img src="{{asset('img/the-end.gif') }}">
    
    fait par kevin kylian mohamed balamini
    
    <img src="{{asset('img/the-end.gif') }}">
    <hr>
</footer>