{# Temporaire #}
<a href="{{ path('app_event_index') }}">Liste Des Evenements</a>
{% if app.user %}
    <a href="{{ path('app_logout') }}">Se Déconnecter</a>
{% else %}
    <a href="{{ path('app_register') }}">S'inscrire</a>
    <a href="{{ path('app_login') }}">Se Connecter</a>
{% endif %}
